.input-form img {
  height: 100%;
  width: 100%;
}

.input-form button {
  height: 48px;
  width: 48px;
  border-radius: 48px;
  border: none;
  padding: 12px;
  transition: 0.6s;
}

.input-form button:hover {
  transform: scale(1.2);
  box-shadow: 0px 8px 16px -8px rgb(88, 8, 8);
}
