body {
  background: linear-gradient(135deg, #8f0000 0%, #4d0f0f 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 60px;
}
